@media only screen and (min-width: 768px) {
  html, body { height: 100%;}
  @font-face {
    font-family: 'karlaregular';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    body{
        margin: 0;
    }
    .principal {
      margin: auto;
      width: 1345px;
      background-color: #F5DB13; 
  }
  .principalpokedex{
    background-color: white;
  }
  .principallegendaries{
    background-color: black;
  }
  .principalmodal{
    background-color: rgba(160, 155, 153, 0.39);
    position: fixed;
    top: -100px;
    left: 1px;
    display: none;
    width: 100%;
    height: 100%;
  }
  #id01{
    display: none;
  }

  #testemodal{
    display: none;
  }
  #modal_menu{
    display: none;
  }
  .cli_modal_menu{

    display: none;
  }
  
    /* For desktop: */
      .col-1 {width: 8.33%;}
      .col-2 {width: 16.66%;}
      .col-3 {width: 25%;}
      .col-4 {width: 33.33%;}
      .col-5 {width: 41.66%;}
      .col-6 {width: 50%;}
      .col-7 {width: 58.33%;}
      .col-8 {width: 66.66%;}
      .col-9 {width: 75%;}
      .col-10 {width: 83.33%;}
      .col-11 {width: 91.66%;}
      .col-12 {width: 100%;}
    
    
      .row-1 {width: 100%; display: flex;flex-direction: row;}
      .box{
        box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
      }
      .pokedexbox{
        box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
        background-color: #F5DB13;
      }
      .legendariesbox{
        box-shadow: 0px 4px 16px rgba(1, 28, 64, 0.2);
        background-color: #F5DB13;
      }
      ul {
        list-style-type: none;
        overflow: hidden;
      }
      
      li {
        float: left;
      }
      
      li a {
        font-family: 'karlaregular';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 30px;
        display: block;
        color: #212121;
        text-align: center;
        padding: 16px;
        text-decoration: none;
      }
      #pokemon{
        margin-left: 43px;
        margin-top: 15px;
      }
      .homes li:hover{
        border-bottom: 3px solid #212121;
      }
      #texto{
        font-family: 'karlaregular';
        font-size: 72px;
        font-weight: 400;
        font-style: normal;
        line-height: 85px;
        margin-left: 45px;
margin-bottom: 10px;
      }
      #texto2{
        font-size: 32px;
        font-weight: 400;
        font-family: 'karlaregular';
        margin-left: 48px;
      }
      .baner{
        margin-left: -5px;
      }
      #botao {
        background: #73D677;
        box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
        border-radius: 11px;
        font-family: 'karlaregular';
        font-weight: 700;
        margin-left: 50px;
        width: 231px;
        height: 66px;
        cursor: pointer;
    }
    #textoprocure{
      font-family: 'karlaregular';
      font-size: 32px;
      font-weight: 400;
      font-style: normal;
      text-align: center;
      margin: auto;
      margin-top: 40px;
    }
    #pesquisa{
      width: 810px;
      height: 46px;
      box-shadow: 4px 10px 6px rgba(33, 33, 33, 0.1);
      border-radius: 40px;
      background: #F2F2F2;
      border-style: none;
      text-align: center;
      margin: auto;
      margin-top: 20px;
      outline: 0;
    }
    .drop {
      background-color: #F2F2F2;
      color: black;
      padding: 16px;
      font-size: 16px;
      border: none;
      box-shadow: 2px 8px 4px rgba(33, 33, 33, 0.1);
      border-radius: 8px;
      margin-top: 30px;
      width: 200px;
      height: 30px;
      font-family: 'karlaregular';
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
      margin-left: 75px;
    }
    
    .dropdown-content {
      display: none;

      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .pyroar{
      background-image: linear-gradient(to right, red,yellow) ;
      text-align: center;
      border-radius: 8px;
    }
    .boxpoke{
      background: #F6F7F9;
      border-radius: 8px;
    }
    #nomedopokemon{
      text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      margin-left:16px;
    }
    #nomedopokemon2{
      text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 36px;
      line-height: 42px;
      font-weight: 700;
      margin-left: 25px;
      color: #FDFDFD;
    }
    .circulo{
      width: 36px;
      height: 37px;
      background-color: rgba(255, 0, 0, 0);
      border-radius: 50%;
      border: 5px;
      border-style: solid;
      margin-left: 12px;
      text-align: center;
      margin-top: 10px;
    }
    #numerodopoder{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 15px;
      line-height: 17px;
      font-weight: 400;
      padding: 10px;
      display: block;
      margin-left: -3px;
    }
    #span{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      text-align: center;
      margin-left: 12px;
    }

    .centro{
      margin-top: 25px;
      margin-left: 25px;
    }

    .esquerda{
      margin-top: 25px;
      margin-left: 55px;
    }

    .direita{
      margin-top: 25px;
      margin-left: 25px;
      margin-right: 34px;
    }


    .visual{
      max-width: 420px;
    }
    .visual2{
      max-width: 40%;
    }
    .modal {
      margin-top: 20%;
      margin-left: 23%;
  }
    .nomedopokemon2{
      margin-top: 30px;
      margin-left: -6px;
    }
    .geracao{
      margin-top: 50px;
    }
    #geracao{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 21px;
      line-height: 14px;
      font-weight: 400;
      text-align: center;
      color: white;
      margin-left: 46px;
    }
    .abilites{
      box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      border-radius: 8px;
      background-color: #FDFDFD;
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      color: black;
      margin-left: 14px;
      margin-top: 7px;
    }
    #abilites{
      margin-left: 30px;
      margin-top: 5px;
      margin-bottom: 10px;
    }
    .atributos{
      box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
      border-radius: 8px;
      background-color: #FDFDFD;
      color: black;
      margin-top: 10px;
      margin-left: 14px;
    }
    #atributos{
      margin-left: 20px;
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 14px;
      font-weight: 400;
      margin-bottom: 0px;
      margin-top: 23px;
    }
    #atributos2{
      margin-left: 20px;
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 14px;
      font-weight: 700;
      margin-bottom: 0px;
      margin-top: 0px;
    }
    .barra{
      border-radius: 8px;
      background: linear-gradient( #64D368,  #64D368 );
      height: 5px;
      margin-left: 20px;
      margin-top: 2px;
      margin-bottom: 15px;
    }
    .barra2{
      border-radius: 8px;
      background: linear-gradient( #F5DB13,  #F2B807 );
      height: 5px;
      margin-left: 96px;
      margin-top: 2px;
    }
    .status{
      box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
      border-radius: 8px;
      background-color: #FDFDFD;
      display: inline;
      margin-top: 21px;
      margin-bottom: 25px;
      margin-left: 14px;
      width: 82px;
    }
    .status2{
      box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
      border-radius: 8px;
      background-color: #FDFDFD;
      display: inline;
      margin-top: 21px;
      margin-bottom: 25px;
      margin-left: 24px;
      width: 82px;
    }
    .status3{
      box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
      border-radius: 8px;
      background-color: #FDFDFD;
      display: inline;
      margin-top: 21px;
      margin-bottom: 25px;
      margin-left: 17px;
      width: 82px;
    }
    .status4{
      box-shadow: 4px 4px 24px rgba(1, 17, 38, 0.2);
      border-radius: 8px;
      background-color: #FDFDFD;
      display: inline;
      margin-top: 21px;
      margin-bottom: 25px;
      margin-left: 16px;
      width: 82px;
    }
    #power{
      margin-left: 20px;
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
    }
    .circulozinho{
      width: 36px;
      height: 37px;
      background-color: rgba(255, 0, 0, 0);
      border-radius: 50%;
      border: 5px;
      border-style: solid;
      margin-left: 10px;
      text-align: center;
      margin-top: 30px;
      border-color: #F2CB07;
      background-color: #F2CB07;
    }
    #numerodeidentificacao{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 14px;
      font-weight: 500;
      margin-top: 10px;
      display: block;
    }
    #x{
      width: 36px;
      cursor: pointer;
    }
    .titulos{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 72px;
      line-height: 84px;
      font-weight: 400;
      color: #ffffff;
      margin-left: 42px;
      display: block;
      margin-top: 40px; 
    }
    .borda{
      border-radius: 1px;
      background: #FFFFFF;
      height: 1px;
      margin-left: 41px;
    }
    #legendary_escolhido{
      margin-left: 147px;
      margin-top: 51px;
    }
    #descricao{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      color: #ffffff;
      width: 438px;
      margin-left: 46px;
    }
    .healthypoints{
      color: #ffffff;
    }
    #points{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: #ffffff;
      margin-left: 45px;
      margin-top: 28px;
      margin-bottom: 7px;
    }
    #points2{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #ffffff;
      margin-top: -9px;
      margin-bottom: 2px;
      margin-left: 45px;
    }
    #points3{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
      color: #ffffff;
      margin-top: 28px;
      margin-bottom: 7px;
    }
    #points4{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      color: #ffffff;
      margin-top: -9px;
      margin-bottom: 2px;
    }
    .pokelist{
      background: linear-gradient(215.78deg, #B57E10 -124.09%, #B57E10 -78.76%, #F9DF7B -35.76%, #FFF3A6 8.4%, #F9DF7B 50.24%, #B57E10 99.06%);
      border-radius: 18px;   
      margin-left: 79px;
      margin-top: 58px;
    width: 108px;
    animation-duration: 3.5s;
    animation-iteration-count: unset;
    animation-name: anima;
    transition: 0.4;
    }
    .pokemonlist{
      margin-left: -37px;
      margin-top: -6px;
      z-index: 5;
      position: relative;
      cursor: pointer;
      width: 191px;
      height: 190px;
    }
    .pokebolabarra{
      background: linear-gradient(180deg, #FFFFFF 30.32%, #F5F5F5 100%);
      border-radius: 16px;
      position: relative;
      z-index: 4;
      padding-top: 16px;
      margin-top: -15px;
    }
    .nomepokemonlist{
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      margin-top: -3px;
      margin-left: 4px;
    }
    .pokebola{
      margin-left: 25px;
    }
    .container {
      display: none;
      cursor: pointer;
    }
    .home_pokemon{
      display: inline;
    }

    #imagem_pokemon{
      max-width: 180px;
      --preto: ;
      text-align: center;
      border-radius: 8px;
      cursor: pointer;
    }
    :root{
      --preto: #707070;
      --gold: linear-gradient(
180deg, #53a4cf 50%, #f16e57 50%);
      --cinza: #a4acaf;
      --verde: #9bcc50;
      --roxo: #7b62a3;
      --rosa: #fdb9e9;
      --vermelho: #fd7d24;
      --azul: #4592c4;
      --pretogradient: linear-gradient(to right, #707070, #000000ad);
      --goldgradient: linear-gradient(to right, #53a4cf , #f16e57 );
      --cinzagradient: linear-gradient(to right,#a4acaf, #062b4e82);
      --verdegradient: linear-gradient(to right,#9bcc50,#81dd39);
      --roxogradient: linear-gradient(to right,#7b62a3, #170c18c2);
      --rosagradient: linear-gradient(to right,#fdb9e9, #d756e7a1);
      --vermelhogradient: linear-gradient(to right,#fd7d24, #cf3d3d);
      --azulgradient: linear-gradient(to right,#4592c4, #0d95e5bf);
    }
    .tipo_pokemon{
      color: rgb(255, 255, 255);
      background: rgba(224, 7, 7, 0.863);
      display: inline-block;
      width: 60px;
      height: 16px;
      border-radius: 11px;
      box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.18);
      font-family: 'karlaregular';
      font-style: normal;
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      text-align: center;
      margin-top: 10px;
      margin-left: 31px;
      position: relative;

    }
    #modal_imagem{
      width: 330px;
    }

    .prev, .next {
      cursor: pointer;
      position: absolute;
      width: 78px;
      padding: 16px;
      color: white;
      font-weight: bold;
      font-size: 85px;
      margin-top: 65px;
      margin-left: 24px;
      transition: 0.6s ease;
      background: black;
  
      border-style: none;
    }
   
    #carousel {
      overflow: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
  }

  #carousel_stronger {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
  
#content{
  display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}  
#carousel::-webkit-scrollbar {
  height: 0;
}

#carousel_stronger::-webkit-scrollbar {
  height: 0;
}
#carousel_weaker::-webkit-scrollbar {
  height: 0;
}

#carousel_weaker {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.transicao{
  animation-duration: 3.5s;
  animation-iteration-count: unset;
  animation-name: anima;
  
}
#weaker{
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

@keyframes anima{
  0% {margin-left: 0;}
  20% {margin-left: 0;}
  100% {margin-right: -50%;}
}
@keyframes animo{

}

.progress {
  position: relative;
  width: 190px;
  height: 10px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}

.progress__fill {
  width: 0%;
  height: 100%;
  background: #F5DB13;
  transition: all 2.5s;
}


.barra_direita{
  margin-left: 309px;
  margin-top: -11px;
}
.barra_esquerda{
  margin-left: 44px;
  margin-top: 10px
}
#stronger{
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}


  }
    